/* ---------------- BACKGROUND */
$color__background-body : #1B2A41;
$color__background-body-clip : #273d60;
$color__background-main : #131d2c;
$color__background-cours : #131d2c;
$color__background-cours-hover : #CCC9DC;
$color__background-header : #131d2c;
$color__background-barre : #131d2c;
$color__background-footer : #131d2c;
$color__background-link : #131d2c;
$color__background-link-hover : #CCC9DC;

/* ---------------- LIENS */
$color__link : #CCC9DC;
$color__link-hover : #131d2c;
$color__link-visited : #CCC9DC;
/* ---------------- LIENS FOOTER */
$color__link__footer : #00b5ec;
$color__link__footer-hover : #CCC9DC;
$color__link__footer-visited : #8a8892;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : #CCC9DC;
$color__link__header-hover : #696c92;
$color__link__header-visited : #CCC9DC;
/* ----------------------- couleur menu footer */
$color__link__footer__menu:#CCC9DC;
$color__link__footer__menu-visited:#CCC9DC;
$color__link__footer__menu-hover:#131d2c;
$background__link__footer__menu:#131d2c;
$background__link__footer__menu-visited:#131d2c;
$background__link__footer__menu-hover:#CCC9DC;

/* ----------------------- couleur menu principal */
$color__link__menu__principal : #0f0;
$color__link__menu__principal-visited : #0d0; 
$color__link__menu__principal-hover : #00f;
$background__link__menu__principal : #ddd;
$background__link__menu__principal-visited: #ccc;
$background__link__menu__principal-hover : #ddd;



/* ---------------- FONT */
$color__font-header : #CCC9DC;
$color__font-main :#CCC9DC  ;
$color__font-main-hover :#1B2A41  ;
$color__font-barre : #CCC9DC;
$color__font-footer : #CCC9DC;

/* ---------------- RECHERCHE */
$color__recherche : #CCC9DC;
$color__recherche-focus : #0a0f18;

/* ---------------- couleur bouton menu-catégorie cours*/
$color__bouton__color : #CCC9DC;
$color__bouton__background : #131d2c;
$color__bouton__color--hover : #131d2c;
$color__bouton__background--hover : #CCC9DC;
$color__bouton__color--current : #131d2c;
$color__bouton__background--current : #ccc9dc86;

/* ---------------- couleur titre principale*/
$color__titre__principal : #CCC9DC;
$color__titre__secondaire : #CCC9DC;
$color__titre__ternaire : #CCC9DC;
$color__titre__paragraphe : #CCC9DC;

/* -----------------------------------------  carte d'accueil */
$couleur__carte__evenement: #CCC9DC;;
$couleur__carte__evenement__background: #131d2c;
$couleur__carte__evenement--hover: #131d2c;
$couleur__carte__evenement__background--hover: #CCC9DC;

/* -----------------------------------------  heures */
$couleur__nbheures: #CCC9DC;
$couleur__nbheures--hover: #131d2c;

/* -----------------------------------------  Boite-modale */
$couleur__Boite-modale: #131d2c;
$couleur__Boite-modale__background: #CCC9DC;

/* -----------------------------------------  Widget */
$couleur__widget__background : #0e1520;
$couleur__widget__color: #CCC9DC;

/* -----------------------------------------  Widget */
$couleur__ordre__color : #1d7fcf;
$couleur__ordre__color--hover: #CCC9DC;
$couleur__ordre__color--visited: #CCC9DC;