/* ---------------- BACKGROUND */
$color__background-body : #373E40;
$color__background-main : #305252;
$color__background-cours : #488286;
$color__background-header : #305252;;
$color__background-barre : #305252;
$color__background-footer : #305252;;
$color__background-link : #488286;
$color__background-link-hover : #38c4ce;

/* ---------------- LIENS */
$color__link : #373E40;
$color__link-hover : #373E40;
$color__link-visited : #373E40;

/* ---------------- FONT */
$color__font-header : #B7D5D4;
$color__font-main :#B7D5D4  ;
$color__font-barre : #B7D5D4;
$color__font-footer : #B7D5D4;