$font__main : 'Work Sans', sans-serif;
$font__titre : 'Saira', sans-serif;
$font__titre__contenu : 'Abril Fatface', cursive;

$police__titre__principal : 'Montserrat Alternates', sans-serif;
$police__titre__secondaire : 'Saira', sans-serif;
$police__titre__ternaire : 'Work Sans', sans-serif;
$police__paragraphe : 'Work Sans', sans-serif;

