.animation{
    display: flex;
    justify-content: center;

    &__bloc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: $color__font-main;
        font-size: 5rem;
        animation: anim-entete 1s forwards;
    }
}

@keyframes anim-entete {
    0%{
        transform: scale(0);  
        
    }
    100%{
        transform: scale(1);
        transition: ease-in;
    }
}