
.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    color: $color__font-footer;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  // les colonnes du pied de page 
    &__colonne { //.site__footer__colonne
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        
        section {
          flex : 0 0 100%;
          border : 1px solid #aaa;
        }
        @media screen and (min-width : $largeur__media--tablette){
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          section { //  .site__footer__colonne  section
            flex : 0 0 30%;
            
          }
        }
        // @media screen and (min-width : $largeur__media--mobile){
        //   // flex-direction: column;
        //   // justify-content: space-between;

        //   section { //  .site__footer__colonne  section
        //     flex : 0 0 30%;
            
        //   }
        // }
   
        .footer__adresse{ //.site__footer__colonne .footer__adresse 
          border-style: none;
          background-color: $couleur__widget__background;
          border-radius: 5px;
          // justify-content: flex-start;
          // align-content: flex-start;
          // flex-direction: column;
          // align-items: stretch;
          @media screen and (min-width : $largeur__media--tablette){
            display: flex;
            flex-direction: column;
  
            section { //  .site__footer__colonne  section
              flex : 0 0 30%;
              
            }
          }
         }
         
        .footer__article {
          border-style: none;
          background-color: $couleur__widget__background;
          border-radius: 5px;
          // justify-content: flex-start;
          // align-content: flex-start;
          // flex-direction: column;
          // align-items: stretch;
         }
        .footer__lien {
          border-style: none;
          background-color: $couleur__widget__background;
          border-radius: 5px;          
          // display: flex;
          // flex-direction: column;

          // justify-content: flex-start;
          // align-content: flex-start;
          // flex-direction: column;
          // align-items: stretch;
         }
    }
// les lignes du pied de page
    &__ligne { //.site__footer__ligne
      display : flex;
      flex-direction : column;
      align-items: center;
      section {
        p{
          text-align: center;
        }
        
      }
      .footer__auteur {}
      .footer__description {}
      .footer__recherche {}
      .footer__copyright {}

    }
  }



.footer__menu { 
  &__nav{ // .footer__menu__nav

    &__ul{ // .footer__menu__nav__ul
        display : flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        @media screen and (min-width : $largeur__media--tablette) {
          flex-direction : row;
        }
        .menu-item { // .site__footer__menu__ul .menu-item
            margin : 10px 5px;
          a{ // .site__footer__menu__ul .menu-item a
            display : flex;
            align-items: center;
            padding : 3px;
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer;
              }
         
            &:hover {
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer-hover;
              }
            }
          }
        }    
     }
  }
}
