.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    @media screen and (min-width: 800px){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    };

    &__titre{  // .site__header__titre
      h1 {  // .site__header__titre h1
        font-size: clamp(2rem, 3vw, 7rem);
        font-family: $font__titre;
        align-items: center;
      }
      h2 {
        font-size: clamp(1rem, 2vw, 4rem);;
        font-family: $font__main;
      }
    }

    &__util{// .site__header__util
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      @media screen and (min-width: 800px){
        width: 23%;
      }
    }
  }

  .icone {
    &__lien{

      svg{}
    }
  }

  .recherche{
    width: 100%;
    position: relative;
    

    &__input{
      background-color: #2d5755;
      width: 100%;
      outline: 0;
      border: 0;
      padding: 15px;
      margin: 0;
    }
    &__bouton{
      background-color: #b7d5d400;
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      padding: 0;
      margin: 10px;
    }
  }